/* -----风格样式设置-------- */
.d-title {
	font-size: 18px;
	font-weight: 700;
	color: rgba(0,0,0,0.8);
}
.d-sub-title {
	font-size: 16px;
	font-weight: 500;
	color: rgba(0,0,0,0.7);
}
.d-meta {
	font-size: 12px;
	color: #b4b4b4;
}
/* 主题设置 */
.d-primary-theme {
	background-color: #008B8B ;
	color: #FFFFFF;
}
.d-waining-theme {
	background-color: #008B8B ;
	color: #FFFFFF;
}
.d-success-theme {
	background-color: #008B8B ;
	color: #FFFFFF;
}
.d-disable-theme {
	background-color: #008B8B ;
	color: #FFFFFF;
}
/* 按钮设置 */
.d-btn {
	border: none;
	cursor: pointer;
	margin: 5px;
}
.d-btn-round {
	border-radius: 20px;
}
.d-btn-cricle {
	border-radius: 20px;
}
.d-btn-normal {
	width: 120px;
	height: 35px;
}
.d-btn-large {
	width: 140pcx;
	height: 45px;
}
/* 表单元素美化 */
.d-input-box {
	display: block;
	border: 1px solid #eee;
	border-radius: 5px;
	height: 35px;
}
/* 阴影样式 */
.d-shadow {
	box-shadow: 2px 5px 10px #aaa;
}
/* 头像样式 */
.d-avatar {
	width: 35px;
	height: 35px;
	border-radius: 5px;
}